<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaitu.lmscalendar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


            <!-- Splash screen -->
            <activity
                android:name="com.chaitu.lmscalendar.ui.SplashScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

            <!-- Main activity -->
            <activity
                android:name="com.chaitu.lmscalendar.MainActivity"
                android:label="@string/app_name" >
            </activity>


        <receiver
            android:name=".sakai.sync.AlarmReceiver"
            android:process=":remote">
                   
        </receiver>
        <service android:name=".sakai.sync.EventsSyncService" />
    </application>

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>